TestApp/KsiegarniaCDA.GUI/KsiegarniaCDA.GUI.SL/Service References/KsiegarniaCDAServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="BooksSearchSearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAutora" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdGatunku" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Opis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RokWydania" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tytul" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wydawnictwo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BooksSearchSearchCriteria" nillable="true" type="tns:BooksSearchSearchCriteria" />
  <xs:complexType name="ArrayOfBooksSearchSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BooksSearchSearchResult" nillable="true" type="tns:BooksSearchSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooksSearchSearchResult" nillable="true" type="tns:ArrayOfBooksSearchSearchResult" />
  <xs:complexType name="BooksSearchSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gatunek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdKsiazki" type="xs:int" />
      <xs:element minOccurs="0" name="RokWydania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tytul" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BooksSearchSearchResult" nillable="true" type="tns:BooksSearchSearchResult" />
</xs:schema>