TestApp/KsiegarniaCDA.GUI/KsiegarniaCDA.GUI.SL/Service References/KsiegarniaCDAServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13963/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13963/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13963/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AutorzyComboPobierz_InputMessage">
    <wsdl:part name="parameters" element="tns:AutorzyComboPobierz" />
  </wsdl:message>
  <wsdl:message name="IService_AutorzyComboPobierz_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutorzyComboPobierzResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GatunkiComboPobierz_InputMessage">
    <wsdl:part name="parameters" element="tns:GatunkiComboPobierz" />
  </wsdl:message>
  <wsdl:message name="IService_GatunkiComboPobierz_OutputMessage">
    <wsdl:part name="parameters" element="tns:GatunkiComboPobierzResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBooks" />
  </wsdl:message>
  <wsdl:message name="IService_SearchBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AutorzyComboPobierz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AutorzyComboPobierz" message="tns:IService_AutorzyComboPobierz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AutorzyComboPobierzResponse" message="tns:IService_AutorzyComboPobierz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GatunkiComboPobierz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GatunkiComboPobierz" message="tns:IService_GatunkiComboPobierz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GatunkiComboPobierzResponse" message="tns:IService_GatunkiComboPobierz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchBooks" message="tns:IService_SearchBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchBooksResponse" message="tns:IService_SearchBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutorzyComboPobierz">
      <soap:operation soapAction="http://tempuri.org/IService/AutorzyComboPobierz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatunkiComboPobierz">
      <soap:operation soapAction="http://tempuri.org/IService/GatunkiComboPobierz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBooks">
      <soap:operation soapAction="http://tempuri.org/IService/SearchBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:13963/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>