TestApp/KsiegarniaCDA.GUI/KsiegarniaCDA.GUI.SL/Service References/KsiegarniaCDAServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13963/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" />
  <xs:element name="AutorzyComboPobierz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorzyComboPobierzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" minOccurs="0" name="AutorzyComboPobierzResult" nillable="true" type="q1:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GatunkiComboPobierz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatunkiComboPobierzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" minOccurs="0" name="GatunkiComboPobierzResult" nillable="true" type="q2:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" minOccurs="0" name="searchCriteria" nillable="true" type="q3:BooksSearchSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KsiegarniaCDA.DTO" minOccurs="0" name="SearchBooksResult" nillable="true" type="q4:ArrayOfBooksSearchSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>